.lead {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 984px;
  padding: 56px 48px 0;
}

@media screen and (max-width: 1100px) {
  .lead {
    padding-top: 48px;
  }
}

@media screen and (max-width: 900px) {
  .lead {
    padding-left: 0;
    padding-right: 0;
  }
}
