.lead__title {
  margin: 0;
  padding: 0 0 32px;
  font-size: min(96px, 12.5vw);
  /* 
  12.5vw получились при сравнении отношений размера шрифта и ширины экрана в макете:
  разрешение 768px / на 96px шрифта = 8,
  разрешение 320px / на 40px шрифта = 8.
  Результат одинаковый при разных разрешениях. 
  Можно сделать вывод, что на 1 пиксель шрифта приходится 8 пикселей экрана. 
  1 / 8 = 0.125 или 12.5%.
  */
  font-weight: 900;
  line-height: calc(1em + 4px);
  max-width: 720px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .lead__title {
    padding-bottom: 16px;
  }
} 