.cover__title {
  z-index: 3;
  margin: 0;
  max-width: 560px;
  text-align: center;
  color: #fff;
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
}

@media  screen and (max-width: 600px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    max-width: 250px;
  }
}